.title {
  font-size: 75px !important;
  font-family: Lato !important;
  text-shadow: none !important;
}

.question {
  font-size: 85% !important;
  background-color: #DFE5EB !important;
  border: medium solid #636363 !important;
  border-radius: 10px !important;
}
